/*estilos para el login restaurante*/

body {
    background-color: lightyellow;
    font-family: Arial, sans-serif;
}

#RestauranteXYZ {
    background-color: beige;
    padding: 20px;
    color: rgb(15, 42, 165);
    text-align: center;
    margin: 50px;
    border: 2px solid rgb(255, 3, 3);
    border-radius: 10px;
}

#tipo {
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
}

#Usuarios {

    margin-top: 20px;
    text-align: center;
    font-size: 25px;
}

#Lista {
    margin-top: 20px;
    font-size: 25px;
    border: 2px solid black;
    padding: 10px;
    margin-left: 600px;
    margin-right: 600px;
    text-align: center;
    background-color: white;
}



/*estilos para el cliente restaurante*/

#orden {
    background-color: lightgray;
    padding: 20px;
    margin: 40px;
    border: 2px solid black;
}

#ordenTexto {
    font-size: 26px;
    text-align: center;
    color: rgb(0, 0, 0);
}

#recetas {
    margin-left: 200px;
    padding: 20px;
}

#menu {
    font-size: 40px;
    text-align: center;
    color: rgb(3, 2, 0);
}

#tablas {
    margin-left: auto;
    margin-right: auto;
    border-color: rgb(252, 207, 8);
    border-width: 5px;
    border-style: solid;
}

#checkboxxx {
    width: 25px;
    height: 25px;
    text-align: center;

}

#botonEnviar {
    margin-left: 800px;
    margin-right: 800px;
    font-size: 20px;
    background-color: rgb(141, 233, 141);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

/*estilos para el mesero restaurante*/

#Mesero {
    background-color: lightblue;
    padding: 20px;
    margin: 50px;
    border: 2px solid blue;
    border-radius: 10px;
}

/*estilos para el administrador restaurante*/

#admin {
    background-color: lightgreen;
    padding: 20px;
    margin: 50px;
    border: 2px solid green;
    border-radius: 10px;
}

/*estilos para la cocina restaurante*/

#cocina {
    background-color: lightcoral;
    padding: 20px;
    margin: 50px;
    border: 2px solid red;
    border-radius: 10px;
}