
body {
    background-color: #EBD5AB;
    font-family: Arial, sans-serif;
}
/*estilos para el mesero restaurante*/

#Mesero {
    background-color: lightblue;
    padding: 20px;
    margin: 50px;
    border: 2px solid blue;
    border-radius: 10px;
}