body {
    background-color: #EBD5AB;
    font-family: Arial, sans-serif;
}

/*estilos para el cliente restaurante*/

#orden {
    width: 700px;
    margin: 50px auto;
    padding: 40px;
    background-color: rgb(204, 198, 199);
    border-radius: 15px;
    text-align: center;
    border: solid 2px rgb(0, 0, 0);
}

#ordenTexto {
    font-size: 30px;
    text-align: center;
    color: rgb(0, 0, 0);
}

#recetas {
    margin-left: 200px;
    padding: 20px;
}

#busqueda {
    display: block;
    font-size: 20px;
    background-color: #f5e6c8;
    padding: 23px 25px;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    border: 2px solid #E67E22;
    cursor: pointer;
}
#menu {
    font-size: 40px;
    text-align: center;
    color: rgb(3, 2, 0);
}

#tablas {
    margin-left: auto;
    margin-right: auto;
    border: 4px solid #E67E22;
    border-radius: 12px;
    border-collapse: collapse;
    overflow: hidden;
    width: 80%;
    background-color: #f5e6c8;
}

#tablas td {
    border: none;
    padding: 15px;
}

#tablas tr {
    border-bottom: 1px solid #e0c097;
}

#tablas tr:last-child {
    border-bottom: none;
}

#tablas img {
    width: 200px;
    height: 150px;
    border-radius: 10px;
}

#le {
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

#checkboxxx {
    width: 25px;
    height: 25px;
    text-align: center;

}

#botonEnviar {
    display: block;
    margin: 30px auto;
    font-size: 20px;
    background-color: rgb(141, 233, 141);
    padding: 10px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#reservasc {
    background-color: lightgray;
    padding: 20px;
    margin: 40px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid black;
}

