body {
    background-color: #EBD5AB;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/*MENU */

#menuPrincipal {
    background-color: rgb(204, 198, 199);
    padding: 20px;
    margin: 40px auto;
    width: 80%;
    text-align: center;
    font-size: 32px;
    border-radius: 12px;
    border: 2px solid black;
}

/*BUSCADOR*/

#busqueda {
    background-color: #f5e6c8;
    padding: 25px;
    margin: 30px auto;
    width: 80%;
    text-align: center;
    border: 2px solid #E67E22;
    border-radius: 12px;
}

#busqueda input,
#busqueda select {
    padding: 8px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin: 5px;
}

#buscarBtn {
    background-color: #E67E22;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#buscarBtn:hover {
    background-color: #d35400;
}

/*RESULTADO*/

#resultadosMenu {
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#resultadosMenu div {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    width: 250px;
    text-align: center;
    box-shadow: 0 8px 15px rgba(0,0,0,0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}


#resultadosMenu img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

#resultadosMenu h3 {
    margin-bottom: 10px;
    color: #333;
}

/*RESERVAS*/

#reserva {
    background-color: lightgray;
    padding: 20px;
    margin: 40px auto;
    width: 60%;
    text-align: center;
    border-radius: 10px;
    border: 2px solid black;
}
