body {
    background-color: #EBD5AB;
    font-family: Arial, sans-serif;
}

#reserva {
    width: 600px;
    margin: 50px auto;
    padding: 30px;
    background-color: #ccc6c7;
    border-radius: 15px;
    border: 2px solid black;
    text-align: center;
}

input, select {
    padding: 6px;
    margin: 5px;
    border-radius: 6px;
    border: 1px solid #aaa;
}

button {
    padding: 10px 25px;
    background-color: #2ecc71;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #27ae60;
}
